/*footer*/
.footer{
	width:100%;
	height:427px;
}
.footer_con{
	width:1200px;
	height:427px;
	margin:0 auto;
}
.footBox{
	width:1200px;
	height:146px;
	background:#fafafa;
}
.footBox ul{
	width:11%;
	padding-left:62px;
	padding-top:20px;
	height:126px;
	float:left;
}
.footBox ul li{
	text-indent:35px;
}
.footBox ul h2{
	height:16px;
	margin-bottom:10px;
	background:url(../img/footer01.png) no-repeat left top;
	text-indent:24px;
	font-size:14px;
	color:#333333;
}
.footBox ul a{
	font-size:12px;
	color:#565656;
}
.footBox ul a:hover{
	text-decoration:underline;
}

.footImg{
	width:1200px;
	height:135px;
	background:url(../img/feature1.png) no-repeat center center ;
	margin:0 auto;
}
.footNav{
	width:100%;
	height:30px;
}
.footNav_con{
	width:1200px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#393939;
	margin:0 auto;
}

.footNav_con a{
	font-size:12px;
	color:#ffffff;
	height:35px;
	padding:0 22px;
	background:url(../img/footnav_bg.png) no-repeat right center;
}
.footNav_con a:last-child{
	background:none;
}
.footNav_con a:hover{
	text-decoration:underline;
}


.copy{
	width:100%;
	height:50px;
}
.copy_con{
	width:1200px;
	height:50px;
	margin:0 auto;
	position:relative;
}
.copy_con ul li{
	float:left;
	height:36px;
	line-height:36px;
	margin-top:12px;
	font-size:12px;
}

.copy_con p{
	position:absolute;
	left:560px;
	top:10px;
}
.copy_con p img{
	vertical-align:middle;
}
.copy_con p a{
	font-size:12px;
	color:#939393;
}

.footLogo{
	width:1200px;
	height:66px;
	margin:0 auto;
}
.footLogo ul{
	padding:15px 0px 0px 386px;
}
.footLogo ul li{
	float:left;
	margin-right:10px;
}
.footLogo ul li img{
	height:38px;
}




